#world {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.25) 1px, transparent 1px), 
        linear-gradient(90deg, rgba(0, 0, 0, 0.25) 1px, transparent 1px);
    background-size: 25px 25px;
}